.setting-container {
  max-width: 500px;
  margin: 0 auto;
  height: 100vh;
}

.active-link {
  color: #256c2c;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid #256c2c;
}

.nav-link {
  color: #5d5f5a;
  font-weight: bold;
  text-decoration: none;
}
